<h1>Meet me</h1>
<p>Meetings made easy</p>


<% if user_signed_in? %>
	Show stuff
<% else %>
	<%= link_to 'Create meeting', new_user_session_path, class:'btn' %>
<% end %>

<div class = "row">
	<div class = "col m6">
	kddk
	</div>
	<div class = "col m6">
		<div class = "card-content">
			<%= render 'meetings/form' %>
		</div>
	</div>
</div>